@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow {
  flex-grow: 1;
}

header {
  background-color: #2c3e50;
}

header nav a {
  color: #ecf0f1;
}

.banner {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h2 {
  font-size: 2.5rem;
  color: #ecf0f1;
}

.banner p {
  font-size: 1.25rem;
  color: #bdc3c7;
}

.steps {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.steps .step {
  text-align: center;
}

.steps .step img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.steps .step h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.steps .step p {
  font-size: 1rem;
  color: #7f8c8d;
}

button {
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 20px 0;
}
